MONSOON_EVENT_01.00.0000/icspackage/project/MONSOON_EVENT_01.00.0000/resources/processor_20/resourcegroup_21/ICSIntegrationProperties.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ics="http://www.oracle.com/2014/03/ic/integration/properties" targetNamespace="http://www.oracle.com/2014/03/ic/integration/properties" elementFormDefault="qualified" version="1">    <element name="properties" type="ics:IntegrationPropertiesType"/>    <complexType name="IntegrationPropertiesType">        <sequence>        <element name="integration_prop1" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_prop2" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_prop3" minOccurs="1" maxOccurs="1" type="string"/></sequence>    </complexType></schema>