TESTINT_01.00.0000/icspackage/project/TESTINT_01.00.0000/resources/processor_23/resourcegroup_24/ICSIntegrationProperties.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ics="http://www.oracle.com/2014/03/ic/integration/properties" targetNamespace="http://www.oracle.com/2014/03/ic/integration/properties" elementFormDefault="qualified" version="1">    <element name="properties" type="ics:IntegrationPropertiesType"/>    <complexType name="IntegrationPropertiesType">        <sequence>        <element name="integration_property_1" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_property_2" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_property_3" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_property_4" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_property_5" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_property_6" minOccurs="1" maxOccurs="1" type="string"/><element name="integration_property_7" minOccurs="1" maxOccurs="1" type="string"/></sequence>    </complexType></schema>