SPRINT_INTEGRATION_01.00.0000/icspackage/project/SPRINT_INTEGRATION_01.00.0000/resources/processor_18/resourcegroup_19/ICSIntegrationProperties.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ics="http://www.oracle.com/2014/03/ic/integration/properties" targetNamespace="http://www.oracle.com/2014/03/ic/integration/properties" elementFormDefault="qualified" version="1">    <element name="properties" type="ics:IntegrationPropertiesType"/>    <complexType name="IntegrationPropertiesType">        <sequence>        <element name="City_property_1" minOccurs="1" maxOccurs="1" type="string"/><element name="Country_property_1" minOccurs="1" maxOccurs="1" type="string"/><element name="Name_property_1" minOccurs="1" maxOccurs="1" type="string"/><element name="State_property_1" minOccurs="1" maxOccurs="1" type="string"/></sequence>    </complexType></schema>